<div class="row">
<div class="navnavbar-wrapper">
  <div class="container-fluid">
      <nav class="navbar navbar-inverse col-md-12" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rate Widget</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>
                    <a id="home"  routerLink="/" routerLinkActive="active">Home</a>
                  </li>
                  <li>
                      <a id="admin" routerLink="/admin-ratings">Admin Ratings</a>
                  </li>
              </ul>
          </div>
        </div>
      </nav>
</div>
</div>
