.container{margin-top:2px;}
.offWidget{margin-bottom:30px;width:100%;border-bottom:1px dashed #f6f6f6;}
#modalViewRatings{font-family:'Roboto' ,sans-serif; font-weight:300;font-size: 25px;color:#2faade;text-decoration: none}
